@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    @apply scroll-smooth;
    @apply box-border;
    @apply m-0 p-0;
  }
}

@theme {
  --color-text: #090706;
  --color-background: #faf0f0;
  --color-light: #f8f9fa;
  --color-button: #d90429;
  --color-primary: #783b1c;
  --color-main: #bc6857;
  --color-secondary: #dd9f92;
  --color-accent: #ea5823;

  --color-text-dark: #f9f7f6;
  --color-background-dark: #0f0906;
  --color-primary-dark: #e3a586;
  --color-secondary-dark: #8b3910;
  --color-accent-dark: #fb702a;
  --color-soft-dark: #1f1f1f;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #fb702a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff0000;
}

::-webkit-scrollbar-button {
  display: none;
}

#root {
  @apply flex flex-col min-h-screen m-0 p-0 box-border scroll-smooth;
  font-family: "Outfit", serif;
}

html {
  background-color: var(--color-background);
  transition: all 0.5s ease-in-out;
}

html.dark {
  background-color: var(--color-background-dark);
  transition: all 0.5s ease-in-out;
}

.swiper-pagination {
  --swiper-pagination-color: #ff0000;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
  --swiper-pagination-bottom: 8px;
}

html.dark .swiper-pagination {
  --swiper-pagination-color: #ff0000;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-bullet-inactive-color: white;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  padding: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.mySwiper .swiper-button-next:after,
.mySwiper .swiper-button-prev:after {
  color: #ff0000;
  font-size: 18px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.mySwiper .swiper-button-next {
  right: 10px;
}

.mySwiper .swiper-button-prev {
  left: 10px;
}
.ant-table-thead > tr > th {
  background-color: blanchedalmond !important;
  color: black !important;
  text-align: center !important;
  font-weight: 700 !important;
  font-size: medium !important;
}
.ant-table-tbody > tr {
  text-align: center !important;
  font-size: 16px !important;
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid black !important; /* เส้นขอบแถว */
}
.ant-breadcrumb-link {
  color: gray !important;
}
.ant-input-number-input {
  text-align: center !important;
}

.center-toast {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  position: fixed !important;
  width: 50% !important;
  height: 50% !important;
  text-align: center;
}

.custom-tabs .ant-tabs-tab:hover {
  color: #ff0000; /* เปลี่ยนสีตอน hover */
}
html.dark .ant-breadcrumb-separator {
  color: white !important;
}
html.dark .ant-skeleton-avatar,
.ant-skeleton-element {
  background-color: rgb(60, 57, 57) !important;
  border-radius: 4px !important;
}
html.dark .ant-skeleton-element {
  background-color: rgb(60, 57, 57) !important;
  border-radius: 4px !important;
}
.ant-skeleton-avatar,
.ant-skeleton-element {
  background-color: rgb(238, 233, 233) !important;
  border-radius: 4px !important;
}
.ant-tabs-tab {
  color: black !important;
}

html.dark .ant-tabs-tab {
  color: white !important;
}
html.dark .ant-progress-inner {
  background-color: rgb(119, 118, 118) !important;
}
.ant-pagination-item-link {
  color: black !important;
}
html.dark .ant-pagination-item-link {
  color: white !important;
}
html.dark .ant-pagination-item-active a {
  color: #ff0000 !important;
}

html.dark #rateReview .ant-rate-star-zero svg {
  color: white !important;
}
html.dark .ant-result-title,
html.dark .ant-result-subtitle {
  color: rgb(196, 196, 196) !important;
}

.ant-layout-header {
  background-color: white !important;
}
html.dark .ant-layout-header {
  background-color: var(--color-background-dark) !important;
  transition: all 0.3s ease-in-out;
}
html.dark .ant-layout {
  background-color: var(--color-soft-dark) !important;
}
html.dark .recharts-cartesian-axis-tick-value {
  fill: white !important;
}
html.dark .ant-upload {
  background-color: var(--color-soft-dark) !important;
  border-radius: 4px !important;
  color: white !important;
  padding: 8px 16px !important;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out !important;
}

/* antd responsive */
@media (max-width: 480px) {
  .responsive-rate {
    font-size: 14px;
  }
  .responsive-avatar {
    width: 40px !important;
    height: 40px !important;
  }
}
